
.btn-demo {
    width: 60px;
    margin-left: 10px;
    margin-top: 10px;
    background-color:deepskyblue;
    border-color:white;
}

.msg-count {
    font-size: 26px;
    color: red;
}

.warning {
    background-color: moccasin;
    width: 200px;
}